2_Benchmark_evaluation/data/PubChemLite.csv filter=lfs diff=lfs merge=lfs -text
3_mnap_application/data/PubChemLite.csv filter=lfs diff=lfs merge=lfs -text
3_mnap_application/data/spectra.mgf filter=lfs diff=lfs merge=lfs -text
